.connect:hover {
    background-color: rgb(63, 123, 86);
    scale: 1.1 1.1;
    transition-duration: 0.6s;
    transition-timing-function: ease-out-circ;
    transition-delay: 0.05s;
}

.settings {
    height: 35%;
    font-size: 24px;
    -unity-text-align: middle-center;
    width: 50%;
    background-color: rgb(21, 46, 36);
    -unity-font-style: bold;
    color: rgb(243, 243, 243);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 0;
    padding-right: 0;
    transition-timing-function: ease-out-circ;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.quit {
    height: 35%;
    font-size: 24px;
    -unity-text-align: middle-center;
    width: 50%;
    background-color: rgb(21, 46, 36);
    -unity-font-style: bold;
    color: rgb(243, 243, 243);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 0;
    padding-right: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out-circ;
    transition-delay: 0.1s;
}

.settings:hover {
    background-color: rgb(63, 123, 86);
    scale: 1.1 1.1;
    transition-timing-function: ease-out-circ;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.quit:hover {
    background-color: rgb(63, 123, 86);
    scale: 1.1 1.1;
    transition-timing-function: ease-out-circ;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

.connect {
}

.count {
    border-top-left-radius: 151px;
    border-bottom-left-radius: 151px;
    border-top-right-radius: 151px;
    border-bottom-right-radius: 151px;
    height: 400px;
    width: 400px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(221, 60, 22);
    scale: 1 1;
    transition-timing-function: ease-in-out-circ;
    transition-duration: 0.2s;
}

.count:hover {
    scale: 0.97 0.97;
    transition-timing-function: ease-in-out-circ;
    transition-duration: 0.2s;
    -unity-background-image-tint-color: rgba(255, 255, 255, 255);
    background-color: rgba(135, 0, 0, 255);
}

.restart {
    font-size: 51px;
    color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    -unity-background-image-tint-color: rgb(165, 241, 133);
    background-color: rgb(123, 164, 93);
    width: 36%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out-circ;
    transition-delay: 0.1s;
}

.restart:hover {
    background-color: rgb(75, 101, 57);
    scale: 1.1 1;
    transition-timing-function: ease-in-out-circ;
    transition-duration: 0.2s;
}
